.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 3rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.logo {
  display: flex;
  align-items: center;

  h1 {
    font-size: 1rem;
    margin: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.navItem {
  font-size: 14px;

  &:hover {
    color: #000 !important;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.btnLogin {
  margin-left: 2rem !important;

}

.banner {
  text-align: center;
  margin-top: 3rem;
}

.lead {
  max-width: 800px;
  margin: auto;
}

.feactureTitle {
  color: #00418b;
  font-size: 1.2rem;
}

.feactureSvg {
  font-size: 1.5rem;
  stroke: #0070f3;
}

.technologies {
  padding: 3rem;
  margin-top: 3rem;
  background-color: #0071f328;
  border-radius: 10px;
}


.technologiesItem {
  position: relative;
  width: 100%;
  padding: 1rem !important;
  background-color: #fff;
  border-radius: 4px;
  text-align: left;

  h4 {
    font-size: 1.1rem;
    max-width: 250px;
  }

  >div {
    position: absolute !important;
    right: 1rem;
    bottom: 1rem;

    img {
      object-fit: contain !important;
    }
  }

  a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 14px;
  }
}
