.container {
  max-width: 500px;
  margin: auto;
  padding: 0 1rem;
  text-align: center;
}

.icon {
  font-size: 4.5rem;
  stroke-width: 1px;
}

.iconError {
  fill: #F65A83;
}

.iconSuccess {
  fill: #3CCF4E;
}